In [1]:
import sqlite3

# Connect to database
conn = sqlite3.connect("star_schema.db")
cursor = conn.cursor()

# Create dimension tables
cursor.execute("""
CREATE TABLE IF NOT EXISTS dim_users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER NOT NULL
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS dim_location (
    location_id INTEGER PRIMARY KEY AUTOINCREMENT,
    city TEXT NOT NULL,
    country TEXT NOT NULL
)
""")

# Create fact table
cursor.execute("""
CREATE TABLE IF NOT EXISTS fact_users (
    fact_id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER NOT NULL,
    transaction_amount REAL NOT NULL,
    transaction_date TEXT NOT NULL,
    location_id INTEGER NOT NULL,
    FOREIGN KEY (user_id) REFERENCES dim_users(id),
    FOREIGN KEY (location_id) REFERENCES dim_location(location_id)
)
""")

# Insert data into dimension tables
cursor.execute("INSERT INTO dim_users (name, age) VALUES (?, ?)", ("Alice", 30))
cursor.execute("INSERT INTO dim_users (name, age) VALUES (?, ?)", ("Bob", 25))

cursor.execute("INSERT INTO dim_location (city, country) VALUES (?, ?)", ("New York", "USA"))
cursor.execute("INSERT INTO dim_location (city, country) VALUES (?, ?)", ("London", "UK"))

# Insert data into fact table (Linking users to transactions)
cursor.execute("INSERT INTO fact_users (user_id, transaction_amount, transaction_date, location_id) VALUES (?, ?, ?, ?)", (1, 100.50, "2024-02-07", 1))
cursor.execute("INSERT INTO fact_users (user_id, transaction_amount, transaction_date, location_id) VALUES (?, ?, ?, ?)", (2, 200.75, "2024-02-07", 2))


def print_table(table_name):
    cursor.execute(f"SELECT * FROM {table_name}")
    rows = cursor.fetchall()

    print(f"\nData from {table_name}:")
    for row in rows:
        print(row)

# Print data from each table
print_table("dim_users")
print_table("dim_location")
print_table("fact_users")

# Commit and close
conn.commit()
conn.close()

Data from dim_users:
(1, 'Alice', 30)
(2, 'Bob', 25)

Data from dim_location:
(1, 'New York', 'USA')
(2, 'London', 'UK')

Data from fact_users:
(1, 1, 100.5, '2024-02-07', 1)
(2, 2, 200.75, '2024-02-07', 2)

In [5]:
import sqlite3

# Connect to database
conn = sqlite3.connect("hospital_star_schema.db")
cursor = conn.cursor()

# Create dimension table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Dim_patient (
    Patient_id INTEGER PRIMARY KEY,
    Patient_name TEXT,
    p_gender TEXT,
    p_address TEXT,
    p_age INTEGER,
    p_blood_group TEXT
)
""")

# Insert data into dimension table
cursor.execute("INSERT OR IGNORE INTO Dim_patient (Patient_id, Patient_name, p_gender, p_address, p_age, p_blood_group) VALUES (?, ?, ?, ?, ?, ?)",
               (1, "John Doe", "Male", "123 Maple St", 34, "O+"))
cursor.execute("INSERT OR IGNORE INTO Dim_patient (Patient_id, Patient_name, p_gender, p_address, p_age, p_blood_group) VALUES (?, ?, ?, ?, ?, ?)",
               (2, "Jane Smith", "Female", "456 Oak Ave", 29, "A-"))

def print_table(table_name):
    cursor.execute(f"SELECT * FROM {table_name}")
    rows = cursor.fetchall()

    print(f"\nData from {table_name}:")
    for row in rows:
        print(row)

# Print data
print_table("Dim_patient")

# Commit and close
conn.commit()
conn.close()

Data from Dim_patient:
(1, 'John Doe', 'Male', '123 Maple St', 34, 'O+')
(2, 'Jane Smith', 'Female', '456 Oak Ave', 29, 'A-')

In [6]:
import sqlite3

# Connect to database
conn = sqlite3.connect("hospital_star_schema.db")
cursor = conn.cursor()

# Create dimension table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Dim_Doctor (
    Doctor_id INTEGER PRIMARY KEY,
    Doctor_name TEXT,
    Doc_specialization TEXT
)
""")

# Insert data into dimension table
cursor.execute("INSERT OR IGNORE INTO Dim_Doctor (Doctor_id, Doctor_name, Doc_specialization) VALUES (?, ?, ?)",
               (101, "Dr. Alice Green", "Cardiology"))
cursor.execute("INSERT OR IGNORE INTO Dim_Doctor (Doctor_id, Doctor_name, Doc_specialization) VALUES (?, ?, ?)",
               (102, "Dr. Mark White", "Neurology"))

def print_table(table_name):
    cursor.execute(f"SELECT * FROM {table_name}")
    rows = cursor.fetchall()

    print(f"\nData from {table_name}:")
    for row in rows:
        print(row)

# Print data
print_table("Dim_Doctor")

# Commit and close
conn.commit()
conn.close()

Data from Dim_Doctor:
(101, 'Dr. Alice Green', 'Cardiology')
(102, 'Dr. Mark White', 'Neurology')

In [7]:
import sqlite3

# Connect to database
conn = sqlite3.connect("hospital_star_schema.db")
cursor = conn.cursor()

# Create dimension table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Dim_department (
    Department_id INTEGER PRIMARY KEY,
    Dept_name TEXT,
    Floor_number INTEGER
)
""")

# Insert data into dimension table
cursor.execute("INSERT OR IGNORE INTO Dim_department (Department_id, Dept_name, Floor_number) VALUES (?, ?, ?)",
               (10, "Cardiology Dept", 2))
cursor.execute("INSERT OR IGNORE INTO Dim_department (Department_id, Dept_name, Floor_number) VALUES (?, ?, ?)",
               (20, "Neurology Dept", 3))

def print_table(table_name):
    cursor.execute(f"SELECT * FROM {table_name}")
    rows = cursor.fetchall()

    print(f"\nData from {table_name}:")
    for row in rows:
        print(row)

# Print data
print_table("Dim_department")

# Commit and close
conn.commit()
conn.close()

Data from Dim_department:
(10, 'Cardiology Dept', 2)
(20, 'Neurology Dept', 3)

In [8]:
import sqlite3

# Connect to database
conn = sqlite3.connect("hospital_star_schema.db")
cursor = conn.cursor()

# Create dimension table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Dim_time (
    time_id INTEGER PRIMARY KEY,
    Visit_date TEXT,
    month INTEGER,
    year INTEGER,
    day_of_week TEXT
)
""")

# Insert data into dimension table
cursor.execute("INSERT OR IGNORE INTO Dim_time (time_id, Visit_date, month, year, day_of_week) VALUES (?, ?, ?, ?, ?)",
               (5001, "2023-10-01", 10, 2023, "Sunday"))
cursor.execute("INSERT OR IGNORE INTO Dim_time (time_id, Visit_date, month, year, day_of_week) VALUES (?, ?, ?, ?, ?)",
               (5002, "2023-10-02", 10, 2023, "Monday"))

def print_table(table_name):
    cursor.execute(f"SELECT * FROM {table_name}")
    rows = cursor.fetchall()

    print(f"\nData from {table_name}:")
    for row in rows:
        print(row)

# Print data
print_table("Dim_time")

# Commit and close
conn.commit()
conn.close()

Data from Dim_time:
(5001, '2023-10-01', 10, 2023, 'Sunday')
(5002, '2023-10-02', 10, 2023, 'Monday')

In [ ]:
import sqlite3

# Connect to database
conn = sqlite3.connect("hospital_star_schema.db")
cursor = conn.cursor()

# Create dimension table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Dim_Diagnosis (
    Diagnostic_id INTEGER PRIMARY KEY,
    diagnosis_name TEXT,
    Severity_level TEXT
)
""")

# Insert data into dimension table
cursor.execute("INSERT OR IGNORE INTO Dim_Diagnosis (Diagnostic_id, diagnosis_name, Severity_level) VALUES (?, ?, ?)",
               (801, "Hypertension", "Moderate"))
cursor.execute("INSERT OR IGNORE INTO Dim_Diagnosis (Diagnostic_id, diagnosis_name, Severity_level) VALUES (?, ?, ?)",
               (802, "Migraine", "Low"))

def print_table(table_name):
    cursor.execute(f"SELECT * FROM {table_name}")
    rows = cursor.fetchall()

    print(f"\nData from {table_name}:")
    for row in rows:
        print(row)

# Print data
print_table("Dim_Diagnosis")

# Commit and close
conn.commit()
conn.close()

In [ ]:
import sqlite3

# Connect to database
conn = sqlite3.connect("hospital_star_schema.db")
cursor = conn.cursor()

# Create dimension table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Dim_room (
    room_id INTEGER PRIMARY KEY,
    room_type TEXT,
    Ward_name TEXT,
    daily_charge REAL,
    floor_number INTEGER
)
""")

# Insert data into dimension table
cursor.execute("INSERT OR IGNORE INTO Dim_room (room_id, room_type, Ward_name, daily_charge, floor_number) VALUES (?, ?, ?, ?, ?)",
               (301, "Private", "West Wing", 500.0, 2))
cursor.execute("INSERT OR IGNORE INTO Dim_room (room_id, room_type, Ward_name, daily_charge, floor_number) VALUES (?, ?, ?, ?, ?)",
               (302, "General", "East Wing", 150.0, 1))

def print_table(table_name):
    cursor.execute(f"SELECT * FROM {table_name}")
    rows = cursor.fetchall()

    print(f"\nData from {table_name}:")
    for row in rows:
        print(row)

# Print data
print_table("Dim_room")

# Commit and close
conn.commit()
conn.close()

In [9]:
import sqlite3

# Connect to database
conn = sqlite3.connect("hospital_star_schema.db")
cursor = conn.cursor()

# Create dimension table
cursor.execute("""
CREATE TABLE IF NOT EXISTS Dim_invoice (
    invoice_id INTEGER PRIMARY KEY,
    invoice_number TEXT,
    inv_status TEXT,
    Payment_mode TEXT,
    total_amount REAL
)
""")

# Insert data into dimension table
cursor.execute("INSERT OR IGNORE INTO Dim_invoice (invoice_id, invoice_number, inv_status, Payment_mode, total_amount) VALUES (?, ?, ?, ?, ?)",
               (901, "INV-001", "Paid", "Credit Card", 1500.00))
cursor.execute("INSERT OR IGNORE INTO Dim_invoice (invoice_id, invoice_number, inv_status, Payment_mode, total_amount) VALUES (?, ?, ?, ?, ?)",
               (902, "INV-002", "Pending", "Insurance", 3000.50))

def print_table(table_name):
    cursor.execute(f"SELECT * FROM {table_name}")
    rows = cursor.fetchall()

    print(f"\nData from {table_name}:")
    for row in rows:
        print(row)

# Print data
print_table("Dim_invoice")

# Commit and close
conn.commit()
conn.close()

Data from Dim_invoice:
(901, 'INV-001', 'Paid', 'Credit Card', 1500.0)
(902, 'INV-002', 'Pending', 'Insurance', 3000.5)

In [10]:
import sqlite3

# Connect to database
conn = sqlite3.connect("hospital_star_schema.db")
cursor = conn.cursor()

# Create fact table with Foreign Keys to all Dimensions
cursor.execute("""
CREATE TABLE IF NOT EXISTS Fact_hospital (
    Visit_id INTEGER PRIMARY KEY,
    Patient_id INTEGER,
    doctor_id INTEGER,
    department_id INTEGER,
    time_id INTEGER,
    diagnostic_id INTEGER,
    invoice_id INTEGER,
    room_id INTEGER,
    Treatment_cost REAL,
    Stay_days INTEGER,
    Procedures_Count INTEGER,
    FOREIGN KEY (Patient_id) REFERENCES Dim_patient(Patient_id),
    FOREIGN KEY (doctor_id) REFERENCES Dim_Doctor(Doctor_id),
    FOREIGN KEY (department_id) REFERENCES Dim_department(Department_id),
    FOREIGN KEY (time_id) REFERENCES Dim_time(time_id),
    FOREIGN KEY (diagnostic_id) REFERENCES Dim_Diagnosis(Diagnostic_id),
    FOREIGN KEY (invoice_id) REFERENCES Dim_invoice(invoice_id),
    FOREIGN KEY (room_id) REFERENCES Dim_room(room_id)
)
""")

# Insert data into fact table (Linking all dimensions using IDs created in previous files)
# Format: Visit_id, Patient, Doc, Dept, Time, Diag, Inv, Room, Cost, Days, Proc_Count
cursor.execute("""
INSERT OR IGNORE INTO Fact_hospital
(Visit_id, Patient_id, doctor_id, department_id, time_id, diagnostic_id, invoice_id, room_id, Treatment_cost, Stay_days, Procedures_Count)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
""", (1, 1, 101, 10, 5001, 801, 901, 301, 1500.00, 3, 2))

cursor.execute("""
INSERT OR IGNORE INTO Fact_hospital
(Visit_id, Patient_id, doctor_id, department_id, time_id, diagnostic_id, invoice_id, room_id, Treatment_cost, Stay_days, Procedures_Count)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
""", (2, 2, 102, 20, 5002, 802, 902, 302, 3000.50, 5, 1))

def print_table(table_name):
    cursor.execute(f"SELECT * FROM {table_name}")
    rows = cursor.fetchall()

    print(f"\nData from {table_name}:")
    for row in rows:
        print(row)

# Print data
print_table("Fact_hospital")

# Commit and close
conn.commit()
conn.close()

Data from Fact_hospital:
(1, 1, 101, 10, 5001, 801, 901, 301, 1500.0, 3, 2)
(2, 2, 102, 20, 5002, 802, 902, 302, 3000.5, 5, 1)